

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: normal;
}

#logo:hover{
  color: #fff;
  text-decoration: none;
}

.center{
  text-align: center;
  }

  .jumbotron{
    background-image: asset-url("komba_new.png");
    background-size: cover;
    height: 460px;
  }

  .jumbotron h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
  }

  .article-meta-details{
    border-top: 1px solid #eaeaea;
    margin-top: 5px;
    font-style: italic;
  }

  .article-actions{
    border-top: 1px solid #eaeaea;
    padding-top: 8px;
  }

  .description{
    margin-top: 0;
  }

  .article-title{
    font-weight: bold;
    font-size: 1.5em;
  }

  .article-body{
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .footer{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 2px solid #eaeaea;
    color: 4777;
  }

  .footer small{
    float: left;
  }
