<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>List of Categories</title>
</head>
<body>
<h1 align="center"> Categories Listing </h1>
  <div align="center">
                <%= will_paginate %>
     <% @categories.each do |category| %>
      <ul class=>
        <div class="row">
          <div class="well col-md-4 col-md-offset-4">
            <div class="article-title">
              <%= link_to "#{category.name}", category_path(category) %>
            </div>
            <!-- Count the No of Categories on Index Page -->
            <div>
              <small><%= pluralize(category.articles.count, "article") %></small>
            </div><!-- End of Count the No of Categories on Index Page -->
            
          </div>
        </div>
      </ul>
   <% end %>
                 <%= will_paginate %>
  </div>
</body>
</html>
