<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; 2020. All Rights reserved. Powered by NotsOnes <span class="glyphicon glyphicon-registration-mark"></span>
      <a href="https://www.Kombaconsulting.com"> | www.Kombaconsulting.com </a> | Foward Thinking...Changing The Narrative
    </small>
  </footer>
</div>
